{% extends "base.html.twig" %}

{% block stylesheets %}
     {% include 'css.html.twig' %}
{% endblock %}

{% block body %}

{{ form(form) }}

<table id="bookmarks-table">
    <thead>
        <tr>
            <th class="action">Action</th>
            <th class="url">Bookmark</th>
            <th class="preview">Preview</th>
            <th class="modifed">Last Modified</th>
            <th class="share">Share</th>
        </tr>
    </thead>
    <tbody>
    {% for bookmark in bookmarkList %}

        <tr data-id="{{bookmark.id}}">
            <td class="action">
                <button class="edit-btn">Edit</button>
                <button class="delete-btn">Delete</button>
            </td>
            <td class="url">
                <input type="url" value="{{ bookmark.url }}" disabled/>
                <button class="save-btn" hidden>Save</button>
            </td>
            <td class="preview">
                
            </td>
            <td class="modifed">{{ bookmark.last_modified|date('Y-m-d H:i:s') }}</td>
            <td class="share">
                <button class="fb-btn" target="_blank" alt="Share on Facebook">Facebook</button>
                <button class="twitter-btn" target="_blank" alt="Share on Twitter">Twitter</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}

{% block javascripts %}
    {% include 'js.html.twig' %}
    <script>
        $(document).ready(function(){
            {% for bookmark in bookmarkList %}
                $.ajax({
                    url: "https://api.linkpreview.net?key=123456&q={{ bookmark.url }}",
                    async: true,
                    success: function(result){
                        $('tr[data-id="{{ bookmark.id }}"]').children(".preview").append('<h4>'+result.title+'</h4>');
                        $('tr[data-id="{{ bookmark.id }}"]').children(".preview").append('<img src="'+result.image+'"');
                    }
                });
            {% endfor %}
        });
       
    </script>
{% endblock %}
