{% extends "base.html.twig" %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<link href="{{ asset('css/form.css') }}" rel="stylesheet" /> 
{% endblock %}

{% block body %}

{{ form(form) }}

<table id="bookmarks-table">
    <thead>
        <tr>
            <th class="action">Action</th>
            <th class="url">Bookmark</th>
            <th class="modifed">Last Modified</th>
            <th class="share">Share</th>
        </tr>
    </thead>
    <tbody>
    {% for bookmark in bookmarkList %}

        <tr data-id="{{bookmark.id}}">
            <td class="action">
                <button class="edit-btn">Edit</button>
                <button class="delete-btn">Delete</button>
            </td>
            <td class="url">
                <input type="url" value="{{ bookmark.url }}" disabled/>
                <button class="save-btn" hidden>Save</button>
            </td>
            <td class="modifed">{{ bookmark.last_modified|date('Y-m-d H:i:s') }}</td>
            <td class="share"><a href="#">Share</a></td>
        </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ asset('js/edit.js') }}"></script>

<script>
$(document).ready( function () {
    $('#bookmarks-table').DataTable();
} );
</script>

{% endblock %}
